:root {
  --primary:   #FDCB04;
  --body-bg:   #072638;
  --body-text: #ffffff;

  --cell-size: 140px;
  --cell-border: var(--primary);

  --piece-color: #ffffff;
  --piece-size: 140px;
}

body {
  margin: 0;

  font-family: 'Sniglet', sans-serif;
  text-align: center;

  background-color: var(--body-bg);
  color: var(--body-text);
}

h1 {
  font-size: 50px;
  margin: 0;
}

h1.logo {
  font-size: 230px;
  margin: -120px 0 20px;
}

h2 {
  font-size: 40px;
  margin: 0;
}

.text-primary { color: var(--primary); }
.text-weight-normal { font-weight: 400; }

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.room-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}

.board { margin-top: -30px; }

.cell {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: var(--cell-size);
  height: var(--cell-size);
  border: 3px solid var(--cell-border);

  cursor: default;
}

.row-0 .cell { border-top: none !important; }
.row-2 .cell { border-bottom: none !important; }
.col-0 { border-left: none !important; }
.col-2 { border-right: none !important; }

.cell--playable:hover {
  cursor: pointer;
  background-color: #ffffff09;
}

.piece {
  margin-top: -22px;
  color: var(--piece-color);
  font-size: var(--piece-size);
}

button {
  font-family: 'Sniglet', sans-serif;
  border: none;
  padding: 12px 22px;
  border-radius: 100px;
  background-color: var(--primary);
  color: var(--body-bg);

  font-size: 20px;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}
